html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none;
}

.container {
    text-align: center;
}

.subtitle {
    color: gray;
}

.imagee {
	height: 100%;
	width: 100%;
}